
<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{../bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>New Product</h1>
    <div class="col-md-auto">
        <form th:object="${product}" th:action="@{save}" action="#" method="post">
            <div>
                <label th:for="name">Product Name</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="Product Name"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label th:text="Quantity" th:for="quantity"></label>
                <input type="number" th:field="*{quantity}" contenteditable='true' class="form-control"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <div>
                <label th:text="Price" th:for="price"></label>
                <input type="number" th:field="*{price}" contenteditable='true' class="form-control"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <input type="submit" class="btn btn-success" value="Save"/>
        </form>
    </div>
</div>

</body>
</html>
